body {margin:0px; padding:0px;  background-color:#f1f1f1; color:#444; font-family:Helvetica, 'Trebuchet MS' }
html {scroll-behavior: smooth;}
.br {clear:both;}
 h1 {font-size:20px; font-weight:normal; color:#d00; margin:10px 0px 5px 0px; text-align:left;}
 h2 {font-size:17px; font-weight:normal; text-transform:uppercase; color:#337ab7; margin:10px 0px 5px 0px; text-align:left;}
.main-container {margin:auto; padding-top:5px; text-align:center; max-width:960px; min-width:580px; }
.topmenu-wrap {background:#E6E6E6; height:auto; margin-bottom:10px;}
 .banner {background-color:#011337; background-image: url(img/wosp30_1.png); background-position:top center; background-repeat:no-repeat; height:369px;}
.banner div {padding:200px 30px 0px 265px; color:#fff; text-align:center; font-size: 33px; line-height: 55px; letter-spacing: 2px; font-family:Helvetica, 'Trebuchet MS';} 
 .topmenu {font-size:17px; font-family:Arial Narrow, sans-serif; text-align:left; text-transform:uppercase; color:#444; margin:auto; text-align:left; padding-top:12px; max-width:960px;  padding-bottom: 10px;}
 .main-container {margin:auto; padding-top:5px; text-align:center; max-width:960px; }   
.anonce {font-size:14px; font-family:Helvetica, 'Trebuchet MS'; line-height:24px; padding: 10px 0px; text-align: left;}
.anonce a {color:#337ab7; text-decoration: none;}
.anonce a:hover {color:#337ab7; text-decoration: underline;}
.topmenu a {display:inline block; text-decoration:none; margin:11px 0px 11px 0px; color:#444; }
.topmenu a:hover {opacity:0.8; transition:0.8s;}
.topmenu a.face {color:#337ab7 !important;}
.goods {margin:10px auto 15px auto; text-align:center; max-width:960px; min-width:580px;}
.book-01 { font-size:13px; width:200px; height:280px; margin:15px 30px 15px 0px; text-align:center; border:1px solid #ccc; float:left; display:inline-block; background:#fff; }
.book-01 img {margin:10px auto; height:200px;}
.book-01 b {display:block; padding:0px 0px 5px 0px;}
.book-01 i {color:#337ab7; font-size:14px;}
.book-01 img  {
 -moz-transition: all 1s ease-out; 
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out; } 
 .book-01 img:hover{
 -webkit-transform: scale(1.4);
 -moz-transform: scale(1.4);
 -o-transform: scale(1.4);
 } 
 .book-02 img:hover{
 -webkit-transform: scale(2.3);
 -moz-transform: scale(2.3);
 -o-transform: scale(2.3);
 }

.book-03 { font-size:12px; width:300px; height:450px; margin:15px 30px 15px 0px; text-align:center; border:1px solid #ccc; float:left; display:inline-block; background:#fff; }
.book-03 img {margin:10px auto; height:300px;}
.book-03 b {display:block; padding:0px 0px 5px 0px;}
.book-03 i {color:#337ab7; font-size:13px;display:block;}
.book-03 .payment {color:#d00; line-height:16px; display:block;} 
.book-03 img  {
 -moz-transition: all 1s ease-out; 
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out; } 
 .book-03 img:hover{
 -webkit-transform: scale(1.7);
 -moz-transform:  scale(1.7);
 -o-transform:  scale(1.7);
 } 

.rezerw {background: url(img/rezerw.png) no-repeat; width: 166px; height: 200px; position: absolute; z-index: 2; top:5px; left:5px;}
.contacts {text-align:left; font-size:15px; color:#337ab7; margin-bottom:20px;}
.contacts a {color:#337ab7; display:block; opacity:1;
-webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;}
.contacts a:hover {opacity:0.6;}
.contacts a.face {background:url(img/face.png) no-repeat; padding-left: 48px; line-height:42px; height: 42px; text-decoration:none; float: left;}
.contacts a.wosp {background:url(img/wosp_s.png) no-repeat; padding-left: 48px; line-height:42px; height: 42px; text-decoration:none; float: left; margin-left: 20px;}
.mask {background: url(img/mask.png) no-repeat; padding-left: 50px; min-height:  height:48px; }
.map {border:1px solid #ccc;}
a.eskarbonka {background: url(img/e_skarbonka_ak_w.png) no-repeat top left; padding-left:320px; padding-top:10px; margin:25px 0px 1px 0px; height:72px; display: block; transition:0.5s;}
a.eskarbonka:hover {text-decoration:none; opacity:0.8;}
.red {color:#d00; font-size:24px;}
.new {font-size:10px !important; font-weight:bold !important; color:#d00 !important;}
